In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME", "SPECIAL_CONSIDERATIONS", "STATUS"])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# APPLICATION_TYPE value counts for binning
application_types = application_df.APPLICATION_TYPE.value_counts()

# Determine which values to replace if counts are less than 500
replace_application = list(application_types[application_types < 1200].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
Other     4504
T4        1542
T6        1216
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# CLASSIFICATION value counts for binning
classification_count = application_df.CLASSIFICATION.value_counts()

# Determine which values to replace if counts are less than ..?
replace_class = list(classification_count[classification_count < 2000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [6]:
# INCOME_AMT value counts for binning
income_count = application_df.INCOME_AMT.value_counts()

# Determine which values to replace if counts are less than ..?
replace_income = list(income_count[income_count < 1000].index)

# Replace in dataframe
for income in replace_income:
    application_df.INCOME_AMT = application_df.INCOME_AMT.replace(income,"Other")
    
# Check to make sure binning was successful
application_df.INCOME_AMT.value_counts()

0                24388
25000-99999       3747
100000-499999     3374
Other             2790
Name: INCOME_AMT, dtype: int64

In [7]:
# ASK_AMT value counts for binning
ask_amounts = application_df.ASK_AMT.value_counts()

# Determine which values to replace if counts are less than ..?
replace_amount = list(ask_amounts[ask_amounts < 10].index)

for amount in replace_amount:
    application_df.ASK_AMT = application_df.ASK_AMT.replace(amount,"Other")

# Check to make sure binning was successful
application_df.ASK_AMT.value_counts()

5000     25398
Other     8901
Name: ASK_AMT, dtype: int64

In [8]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat].astype(str)))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\User\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,...,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_100000-499999,INCOME_AMT_25000-99999,INCOME_AMT_Other,ASK_AMT_5000,ASK_AMT_Other
0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True,right_index=True)

application_df = application_df.drop(application_cat,1)

application_df.head()

C:\Users\User\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,...,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_100000-499999,INCOME_AMT_25000-99999,INCOME_AMT_Other,ASK_AMT_5000,ASK_AMT_Other
0,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

C:\Users\User\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 15

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               3000

 dense_1 (Dense)             (None, 40)                4040

 dense_2 (Dense)             (None, 15)                615

 dense_3 (Dense)             (None, 1)                 16

=================================================================
Total params: 7,671
Trainable params: 7,671
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 730us/step - loss: 0.5838 - accuracy: 0.7134
Epoch 2/100
804/804 [==============================] - 1s 729us/step - loss: 0.5705 - accuracy: 0.7206
Epoch 3/100
804/804 [==============================] - 1s 732us/step - loss: 0.5680 - accuracy: 0.7221
Epoch 4/100
804/804 [==============================] - 1s 725us/step - loss: 0.5670 - accuracy: 0.7225
Epoch 5/100
804/804 [==============================] - 1s 728us/step - loss: 0.5651 - accuracy: 0.7240
Epoch 6/100
804/804 [==============================] - 1s 724us/step - loss: 0.5651 - accuracy: 0.7234
Epoch 7/100
804/804 [==============================] - 1s 725us/step - loss: 0.5642 - accuracy: 0.7249
Epoch 8/100
804/804 [==============================] - 1s 727us/step - loss: 0.5638 - accuracy: 0.7243
Epoch 9/100
804/804 [==============================] - 1s 732us/step - loss: 0.5628 - accuracy: 0.7256
Epoch 10/100
804/804 [==============================] - 1s 728us/step - loss: 0.5626 - accuracy: 0.7253
Epoch 11/100
804/804 [==============================] - 1s 727us/step - loss: 0.5623 - accuracy: 0.7260
Epoch 12/100
804/804 [==============================] - 1s 738us/step - loss: 0.5618 - accuracy: 0.7262
Epoch 13/100
804/804 [==============================] - 1s 727us/step - loss: 0.5614 - accuracy: 0.7247
Epoch 14/100
804/804 [==============================] - 1s 728us/step - loss: 0.5614 - accuracy: 0.7265
Epoch 15/100
804/804 [==============================] - 1s 725us/step - loss: 0.5609 - accuracy: 0.7264
Epoch 16/100
804/804 [==============================] - 1s 725us/step - loss: 0.5605 - accuracy: 0.7265
Epoch 17/100
804/804 [==============================] - 1s 727us/step - loss: 0.5603 - accuracy: 0.7259
Epoch 18/100
804/804 [==============================] - 1s 727us/step - loss: 0.5601 - accuracy: 0.7270
Epoch 19/100
804/804 [==============================] - 1s 725us/step - loss: 0.5599 - accuracy: 0.7269
Epoch 20/100
804/804 [==============================] - 1s 728us/step - loss: 0.5599 - accuracy: 0.7274
Epoch 21/100
804/804 [==============================] - 1s 728us/step - loss: 0.5596 - accuracy: 0.7275
Epoch 22/100
804/804 [==============================] - 1s 729us/step - loss: 0.5593 - accuracy: 0.7286
Epoch 23/100
804/804 [==============================] - 1s 728us/step - loss: 0.5587 - accuracy: 0.7278
Epoch 24/100
804/804 [==============================] - 1s 727us/step - loss: 0.5588 - accuracy: 0.7276
Epoch 25/100
804/804 [==============================] - 1s 725us/step - loss: 0.5585 - accuracy: 0.7280
Epoch 26/100
804/804 [==============================] - 1s 728us/step - loss: 0.5583 - accuracy: 0.7284
Epoch 27/100
804/804 [==============================] - 1s 740us/step - loss: 0.5583 - accuracy: 0.7281
Epoch 28/100
804/804 [==============================] - 1s 729us/step - loss: 0.5583 - accuracy: 0.7276
Epoch 29/100
804/804 [==============================] - 1s 732us/step - loss: 0.5583 - accuracy: 0.7277
Epoch 30/100
804/804 [==============================] - 1s 730us/step - loss: 0.5576 - accuracy: 0.7276
Epoch 31/100
804/804 [==============================] - 1s 741us/step - loss: 0.5579 - accuracy: 0.7273
Epoch 32/100
804/804 [==============================] - 1s 732us/step - loss: 0.5578 - accuracy: 0.7288
Epoch 33/100
804/804 [==============================] - 1s 734us/step - loss: 0.5576 - accuracy: 0.7285
Epoch 34/100
804/804 [==============================] - 1s 730us/step - loss: 0.5570 - accuracy: 0.7280
Epoch 35/100
804/804 [==============================] - 1s 735us/step - loss: 0.5576 - accuracy: 0.7285
Epoch 36/100
804/804 [==============================] - 1s 733us/step - loss: 0.5573 - accuracy: 0.7281
Epoch 37/100
804/804 [==============================] - 1s 743us/step - loss: 0.5569 - accuracy: 0.7285
Epoch 38/100
804/804 [==============================] - 1s 738us/step - loss: 0.5574 - accuracy: 0.7285
Epoch 39/100
804/804 [==============================] - 1s 738us/step - loss: 0.5570 - accuracy: 0.7287
Epoch 40/100
804/804 [==============================] - 1s 740us/step - loss: 0.5564 - accuracy: 0.7286
Epoch 41/100
804/804 [==============================] - 1s 740us/step - loss: 0.5566 - accuracy: 0.7287
Epoch 42/100
804/804 [==============================] - 1s 741us/step - loss: 0.5564 - accuracy: 0.7292
Epoch 43/100
804/804 [==============================] - 1s 746us/step - loss: 0.5563 - accuracy: 0.7285
Epoch 44/100
804/804 [==============================] - 1s 741us/step - loss: 0.5564 - accuracy: 0.7287
Epoch 45/100
804/804 [==============================] - 1s 744us/step - loss: 0.5567 - accuracy: 0.7292
Epoch 46/100
804/804 [==============================] - 1s 756us/step - loss: 0.5564 - accuracy: 0.7294
Epoch 47/100
804/804 [==============================] - 1s 749us/step - loss: 0.5560 - accuracy: 0.7292
Epoch 48/100
804/804 [==============================] - 1s 750us/step - loss: 0.5560 - accuracy: 0.7296
Epoch 49/100
804/804 [==============================] - 1s 753us/step - loss: 0.5560 - accuracy: 0.7285
Epoch 50/100
804/804 [==============================] - 1s 759us/step - loss: 0.5561 - accuracy: 0.7290
Epoch 51/100
804/804 [==============================] - 1s 758us/step - loss: 0.5557 - accuracy: 0.7292
Epoch 52/100
804/804 [==============================] - 1s 755us/step - loss: 0.5555 - accuracy: 0.7290
Epoch 53/100
804/804 [==============================] - 1s 765us/step - loss: 0.5564 - accuracy: 0.7292
Epoch 54/100
804/804 [==============================] - 1s 763us/step - loss: 0.5556 - accuracy: 0.7294
Epoch 55/100
804/804 [==============================] - 1s 756us/step - loss: 0.5555 - accuracy: 0.7286
Epoch 56/100
804/804 [==============================] - 1s 766us/step - loss: 0.5553 - accuracy: 0.7294
Epoch 57/100
804/804 [==============================] - 1s 774us/step - loss: 0.5552 - accuracy: 0.7294
Epoch 58/100
804/804 [==============================] - 1s 761us/step - loss: 0.5555 - accuracy: 0.7294
Epoch 59/100
804/804 [==============================] - 1s 770us/step - loss: 0.5557 - accuracy: 0.7287
Epoch 60/100
804/804 [==============================] - 1s 764us/step - loss: 0.5549 - accuracy: 0.7296
Epoch 61/100
804/804 [==============================] - 1s 766us/step - loss: 0.5548 - accuracy: 0.7296
Epoch 62/100
804/804 [==============================] - 1s 768us/step - loss: 0.5553 - accuracy: 0.7296
Epoch 63/100
804/804 [==============================] - 1s 764us/step - loss: 0.5551 - accuracy: 0.7287
Epoch 64/100
804/804 [==============================] - 1s 760us/step - loss: 0.5554 - accuracy: 0.7289
Epoch 65/100
804/804 [==============================] - 1s 768us/step - loss: 0.5546 - accuracy: 0.7297
Epoch 66/100
804/804 [==============================] - 1s 768us/step - loss: 0.5550 - accuracy: 0.7295
Epoch 67/100
804/804 [==============================] - 1s 768us/step - loss: 0.5550 - accuracy: 0.7294
Epoch 68/100
804/804 [==============================] - 1s 774us/step - loss: 0.5544 - accuracy: 0.7299
Epoch 69/100
804/804 [==============================] - 1s 771us/step - loss: 0.5543 - accuracy: 0.7298
Epoch 70/100
804/804 [==============================] - 1s 774us/step - loss: 0.5547 - accuracy: 0.7293
Epoch 71/100
804/804 [==============================] - 1s 768us/step - loss: 0.5546 - accuracy: 0.7303
Epoch 72/100
804/804 [==============================] - 1s 774us/step - loss: 0.5543 - accuracy: 0.7299
Epoch 73/100
804/804 [==============================] - 1s 771us/step - loss: 0.5543 - accuracy: 0.7301
Epoch 74/100
804/804 [==============================] - 1s 761us/step - loss: 0.5547 - accuracy: 0.7298
Epoch 75/100
804/804 [==============================] - 1s 770us/step - loss: 0.5548 - accuracy: 0.7294
Epoch 76/100
804/804 [==============================] - 1s 771us/step - loss: 0.5546 - accuracy: 0.7297
Epoch 77/100
804/804 [==============================] - 1s 777us/step - loss: 0.5547 - accuracy: 0.7298
Epoch 78/100
804/804 [==============================] - 1s 770us/step - loss: 0.5546 - accuracy: 0.7296
Epoch 79/100

804/804 [==============================] - 1s 773us/step - loss: 0.5545 - accuracy: 0.7297
Epoch 80/100
804/804 [==============================] - 1s 765us/step - loss: 0.5546 - accuracy: 0.7294
Epoch 81/100
804/804 [==============================] - 1s 765us/step - loss: 0.5543 - accuracy: 0.7300
Epoch 82/100
804/804 [==============================] - 1s 773us/step - loss: 0.5543 - accuracy: 0.7295
Epoch 83/100
804/804 [==============================] - 1s 769us/step - loss: 0.5540 - accuracy: 0.7297
Epoch 84/100
804/804 [==============================] - 1s 768us/step - loss: 0.5540 - accuracy: 0.7296
Epoch 85/100
804/804 [==============================] - 1s 776us/step - loss: 0.5541 - accuracy: 0.7304
Epoch 86/100
804/804 [==============================] - 1s 774us/step - loss: 0.5541 - accuracy: 0.7296
Epoch 87/100
804/804 [==============================] - 1s 769us/step - loss: 0.5537 - accuracy: 0.7300
Epoch 88/100
804/804 [==============================] - 1s 773us/step - loss: 0.5542 - accuracy: 0.7299
Epoch 89/100
804/804 [==============================] - 1s 770us/step - loss: 0.5538 - accuracy: 0.7300
Epoch 90/100
804/804 [==============================] - 1s 773us/step - loss: 0.5542 - accuracy: 0.7300
Epoch 91/100
804/804 [==============================] - 1s 774us/step - loss: 0.5537 - accuracy: 0.7298
Epoch 92/100
804/804 [==============================] - 1s 769us/step - loss: 0.5534 - accuracy: 0.7301
Epoch 93/100
804/804 [==============================] - 1s 773us/step - loss: 0.5537 - accuracy: 0.7299
Epoch 94/100
804/804 [==============================] - 1s 773us/step - loss: 0.5536 - accuracy: 0.7297
Epoch 95/100
804/804 [==============================] - 1s 776us/step - loss: 0.5540 - accuracy: 0.7303
Epoch 96/100
804/804 [==============================] - 1s 771us/step - loss: 0.5530 - accuracy: 0.7302
Epoch 97/100
804/804 [==============================] - 1s 770us/step - loss: 0.5532 - accuracy: 0.7299
Epoch 98/100
804/804 [==============================] - 1s 774us/step - loss: 0.5536 - accuracy: 0.7295
Epoch 99/100
804/804 [==============================] - 1s 770us/step - loss: 0.5532 - accuracy: 0.7301
Epoch 100/100
804/804 [==============================] - 1s 777us/step - loss: 0.5535 - accuracy: 0.7291

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5760 - accuracy: 0.7156 - 270ms/epoch - 1ms/step
Loss: 0.5760017037391663, Accuracy: 0.7155685424804688

In [17]:
# create callback that saves model's weight every 5 epochs
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5)

In [18]:
# save and export results to HDf5 file
nn.save("AlphabetSoupCharity_Optimization.h5")